#background-image{
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("/images/backgrounds/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main-carousel{
  height: calc(100vh - 69px);
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  align-items: center;
}
.carousel-images{
  height: inherit;
  width: 100%;
  margin: 0!important
}
.carousel-image{
  height: calc(100vh - 69px);
  display: flex!important;
}
.main-slider-image{
  object-fit: cover;
  object-position: 50% 0;
  width: 100%;
  height: 100%;
}
#mainCarousel .slick-dots{
  position: absolute;
  bottom: 0;
  height: 30px;
}
#mainCarousel .slick-dots li{
  width: 40px;
  padding: 10px 0;
}
#mainCarousel .slick-dots li button::before{
  content: '';
  width: 35px;
  height: 3px;
  background: white;
}
.carousel-arrow{
  font-weight: 200;
  position: absolute;
  width: 45px;
  height: 45px;
  padding: 10px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-size: 2rem;
  margin: 0 30px;
  cursor: pointer;
  transition: ease-in-out .12s;
  border-radius: .125rem;
}
.carousel-arrow:hover{
  background: white;
}
.carousel-arrow:hover polygon{
  fill: rgba(0,0,0,.85);
}
.svg-arrow{
  height: 100%;
  width: 100%;
}
.svg-arrow polygon{
  fill: white;
  transition: ease-in-out .12s;
}

.watches-section{
  background-color: white;
  padding: 5vh 5vw;
  justify-content: center;
  align-items: center;
}

.partner-logo-holder{
  display: flex;
  height: calc(10rem - 50px);
  max-width: 400px;
  margin: 0 30px;
}
.partner-logo-holder > img{
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  transition: all ease-in-out .12s;
}
.partner-logo-holder > img:hover{
  opacity: .7;
}
#logo-slider .slick-dots{
  position: absolute;
  bottom: -50px;
}
#logo-slider .slick-dots li{
  width: calc(2.15rem - 10px);
  padding: 10px 0;
}
.slick-dots li button{
  z-index: -10;
}
#logo-slider .slick-dots li button::before{
  content: '';
  width: calc(2rem - 10px);
  height: 2px;
  background: black;
}


@media screen and (max-width: 900px) {

  .main-carousel {
    height: 100vw;
  }

  .mainSliderDesktop {
    display: none!important;
  }

  .mainSliderMobile {
    display: block!important;
  }

  .main-slider-image {
    object-fit: contain;
  }

  .welcome-section {
    padding: 2vh 5vw;
  }
}

@media screen and (min-width: 900px) {

  .mainSliderDesktop {
    display: block!important;
  }

  .mainSliderMobile {
    display: none!important;
  }
}
