<main class="contacts">
  <div class="frontend-section window">
    <h1>Rólunk</h1>
  </div>
  <div class="frontend-section">
    <div class="section-header color-blue">
      Üzleteink
    </div>
    <div class="property appearable">
      <div class="property-title">
        Allee bevásárlóközpont
      </div>
      <div class="properties">
        <div class="d-flex">
          <span class="property-name">Cím:</span>
          <span class="property-value">Október 23. utca 8-10</span>
        </div>
        <div class="d-flex">
          <span class="property-name">Telefonszám:</span>
          <span class="property-value">+36 70 621 3651</span>
        </div>
        <div class="d-flex">
          <span class="property-name">Email:</span>
          <span class="property-value">miracolo.allee@invitel.hu</span>
        </div>
      </div>
    </div>
    <div class="property appearable">
      <div class="property-title">
        Árkád Budapest
      </div>
      <div class="properties">
        <div class="d-flex">
          <span class="property-name">Cím:</span>
          <span class="property-value">Örs vezér tere 25.</span>
        </div>
        <div class="d-flex">
          <span class="property-name">Telefonszám:</span>
          <span class="property-value">+36 1 434 5160</span>
        </div>
        <div class="d-flex">
          <span class="property-name">Email:</span>
          <span class="property-value">miracolo@bparkad.comhouse.hu</span>
        </div>
      </div>
    </div>
  </div>
  <div class="frontend-section">
    <div class="map">
    </div>
    <!---<iframe class="map" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB0Wtgq5BzHxC9l7BnJRewL_fiG5QbaiBI&callback=showMap" allowfullscreen>
    </iframe>-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOgS2a1k5uOzLmsjQAMkgbVhls2D2e0Wg&callback=showMap"></script>
  </div>
</main>
