<main class="contacts">
  <div class="frontend-section window">
    <h1>Kapcsolat</h1>
  </div>
  <div class="frontend-section">
    <div class="section-header color-blue">
      Vegye fel velünk a kapcsolatot
    </div>
    <div class="w-100 d-flex justify-content-center">
      <form class="col-md-8 col-sm-11">
        <div class="form-group row">
          <div class="col-md-4" style="margin-top: 1rem">
            <label for="name">Név</label>
            <input type="text" class="form-control" id="name" placeholder="Név...">
          </div>
          <div class="col-md-4" style="margin-top: 1rem">
            <label for="email">Email cím</label>
            <input type="text" class="form-control" id="email" placeholder="Email...">
          </div>
          <div class="col-md-4" style="margin-top: 1rem">
            <label for="phone">Telefonszám</label>
            <input type="phone" class="form-control" id="phone" placeholder="Telefonszám...">
          </div>
        </div>
        <div class="form-group">
          <label for="message">Üzenet:</label>
          <textarea class="form-control" rows="5" id="message"></textarea>
        </div>
        <div class="form-group d-flex justify-content-end">
          <button type="button" class="button button-red w-25" id="send">Küldés</button>
        </div>
      </form>
    </div>
  </div>
  <div class="frontend-section">
    <div class="section-header color-blue">
      Üzleteink
    </div>
    <div class="property appearable">
      <div class="property-title">
        Allee bevásárlóközpont
      </div>
      <div class="properties">
        <div class="d-flex">
          <span class="property-name">Cím:</span>
          <span class="property-value">Október 23. utca 8-10</span>
        </div>
        <div class="d-flex">
          <span class="property-name">Telefonszám:</span>
          <span class="property-value">+36 70 621 3651</span>
        </div>
        <div class="d-flex">
          <span class="property-name">Email:</span>
          <span class="property-value">miracolo.allee@invitel.hu</span>
        </div>
      </div>
    </div>
    <div class="property appearable">
      <div class="property-title">
        Árkád Budapest
      </div>
      <div class="properties">
        <div class="d-flex">
          <span class="property-name">Cím:</span>
          <span class="property-value">Örs vezér tere 25.</span>
        </div>
        <div class="d-flex">
          <span class="property-name">Telefonszám:</span>
          <span class="property-value">+36 1 434 5160</span>
        </div>
        <div class="d-flex">
          <span class="property-name">Email:</span>
          <span class="property-value">miracolo@bparkad.comhouse.hu</span>
        </div>
      </div>
    </div>
  </div>
</main>
