#background-image{
  height: 80vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("/images/backgrounds/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.watches{
  padding-left: 5vh;
  position: relative;
}

#mainWatches{
  justify-content: space-around;
}

.filters, .price{
  margin: 8px 0 50px 0;
}
.filter{
  margin: 5px 0;
}
.filter-title{
  height: 2.5em;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.price-title{
  height: 2.5em;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-title svg{
  height: 1.2em;
  margin-left: 10px;
}
.filter-title:hover{
  color: #021f4f;
}
.filter-title:hover svg polygon{
  fill: #021f4f;
}
.filter-body{
  display: none;
  padding: 10px 0 0 10px;
  font-size: 14px;
}
.filter-option{
  margin-bottom: 5px;
}
.filter-arrow{
  transition: all ease-in-out .15s;
}
.watches-header{
  margin-bottom: 1em;
  padding: 1rem .5rem;
  background: rgba(255, 255, 255, .95);
  position: sticky;
  position: -webkit-sticky;
  top: calc(4.3rem - 2px);
  z-index: 3;
}
.ui-slider-handle{
  outline: 0;
}
.ui-widget-header{
  background:  #021f4f;
}
.ui-state-active{
  background: #021f4f!important;
  border: #001A4A!important;
}
select {
  font-family: 'FontAwesome', 'Montserrat';
  box-shadow: 0 0 0 0!important;
}
.filter-title-name{
  position: relative;
}
.alerter{
  position: absolute;
  height: 1.2em;
  width: 1.2em;
  font-size: .7em;
  border-radius: 50%;
  background: rgb(220, 20, 40);
  top: 0px;
  right: -1.4em;
  color: white;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out .3s;
}

@media screen and (max-device-width: 600px) {
  .watch-medium{
    height: 34.44rem!important;
    width: 27.3rem!important;
    max-width: 100%;
    font-size: 1.5em!important;
  }

  .watch-medium .watch-image-holder{
    max-height: 27.3rem!important;
    max-width: 100%!important;
  }

  .watches{
    padding: 0;
  }
  #mainWatches{
    justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  .appearable{
    transform: none;
    opacity: 1;
  }
  .appear{
    animation: none;
  }
}
