<main class="index">
  <div class="main-carousel">
    <div class="carousel-arrow" id="left">
      <svg class="svg-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve">
        <polygon points="315.869,21.178 294.621,0 91.566,203.718 294.621,407.436 315.869,386.258 133.924,203.718"/>
      </svg>
    </div>
    <div class="carousel-arrow" id="right" style="right: 0;">
      <svg class="svg-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve">
        <polygon xmlns="http://www.w3.org/2000/svg" points="112.814,0 91.566,21.178 273.512,203.718 91.566,386.258 112.814,407.436 315.869,203.718 "/>
      </svg>
    </div>
    <div class="carousel-images" id="mainCarousel">
      <div class="carousel-image" data-brand="tag-heuer">
        <img class="main-slider-image mainSliderDesktop" alt="main-slider-item" src="/images/mainslider/1.jpg">
        <img class="main-slider-image mainSliderMobile" alt="main-slider-item" src="/images/mainslider/mobile/1.png">
      </div>
      <div class="carousel-image" data-brand="nomination">
        <img class="main-slider-image mainSliderDesktop" alt="main-slider-item" src="/images/backgrounds/jewellery-background.jpg">
        <img class="main-slider-image mainSliderMobile" alt="main-slider-item" src="/images/backgrounds/jewellery-background-mobile.jpg">
      </div>
      <div class="carousel-image" data-brand="longines">
        <img class="main-slider-image mainSliderDesktop" alt="main-slider-item" src="/images/mainslider/longines2.jpg">
        <img class="main-slider-image mainSliderMobile" alt="main-slider-item" src="/images/mainslider/mobile/2.jpg">
      </div>
      <div class="carousel-image" data-brand="tag-heuer">
        <img class="main-slider-image mainSliderDesktop" alt="main-slider-item" src="/images/mainslider/62fenti.png">
        <img class="main-slider-image mainSliderMobile" alt="main-slider-item" src="/images/mainslider/mobile/4.jpg">
      </div>
      <div class="carousel-image" data-brand="meistersinger">
          <img class="main-slider-image mainSliderDesktop" alt="main-slider-item" src="/images/mainslider/meister.jpeg">
          <img class="main-slider-image mainSliderMobile" alt="main-slider-item" src="/images/mainslider/mobile/2.jpeg">
        </div>
    </div>
  </div>
  <div class="frontend-section row justify-content-center welcome-section">
    <div class="col-md-7 col-sm-11 appearable">
      <div class="color-blue section-header w-100">Köszöntjük a Miracolo Óra - Ékszer oldalán!</div>
      <div class="section-body">
      </div>
      <div class="section-body">
        <a href="/watches"><button class="button button-blue color-blue" type="button" name="button">Tovább az órákhoz</button></a>
        <a href="/jewellery"><button class="button button-blue color-blue" type="button" name="button">Tovább az ékszerekhez</button></a>
      </div>
    </div>
  </div>
  <div class="frontend-section bg-gray d-flex flex-column align-items-center">
    <div class="section-header color-blue">
      Legnépszerűbb termékeink
    </div>
    <div class="col-10 watches-section row section-body" id="mainWatches">
      <div class="d-flex justify-content-center">
      <a href="/Watches/CAW211P.FC6356">
        <div class="watch appearable watch-large">
          <div class="watch-image-holder">
            <img src="/images/index/monaco12.png" alt="CAW211P.FC6356">
          </div>
          <div class="watch-footer">
            <div class="watch-name">Monaco - Calibre 12</div>
            <div class="watch-data">Tag Heuer</div>
          </div>
        </div>
      </a>
      </div>
      <div class="d-flex justify-content-center">
        <a href="/Watches/WAH1213.BA0861">
          <div class="watch appearable watch-large">
            <div class="watch-image-holder">
              <img src="/images/index/formula1.png" alt="WAH1213.BA0861">
            </div>
            <div class="watch-footer">
              <div class="watch-name">Formula 1</div>
              <div class="watch-data">Tag Heuer</div>
            </div>
          </div>
        </a>
      </div>
      <div class="d-flex justify-content-center">
        <a href="/">
          <div class="watch appearable watch-large">
            <div class="watch-image-holder">
              <img src="/images/index/lunascope.png" alt="LS908">
            </div>
            <div class="watch-footer">
              <div class="watch-name">Lunascope</div>
              <div class="watch-data">MeisterSinger</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="frontend-section row justify-content-center iframe-holder">
      <iframe class="window-iframe" src="https://www.youtube.com/embed/SChZlrAUgDA?start=6" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <style type="text/css">
        .window-iframe {
          min-height: 60vh;
          width: 100vw;
        }

        .iframe-holder {
          padding: 10vh 0;
        }
      </style>
  </div>
  <div class="frontend-section">
    <div class="">
      <div class="color-blue section-header w-100">Partnereink</div>
      <div class="">
        <div class="w-100" id="logo-slider">
          <a class="partner-logo-holder" href="http://www.google.hu">
            <img src="/images/logos/1.jpg">
          </a>
          <a href="http://www.google.hu" class="partner-logo-holder">
            <img src="/images/logos/2.jpg">
          </a>
          <a href="http://www.google.hu" class="partner-logo-holder">
            <img src="/images/logos/3.png">
          </a>
          <a href="http://www.google.hu" class="partner-logo-holder">
            <img src="/images/logos/4.jpg">
          </a>
          <a href="http://www.google.hu" class="partner-logo-holder">
            <img src="/images/logos/5.jpg">
          </a>
          <a href="http://www.google.hu" class="partner-logo-holder">
            <img src="/images/logos/6.png">
          </a>
          <a href="http://www.google.hu" class="partner-logo-holder">
            <img src="/images/logos/7.png">
          </a>
          <a href="http://www.google.hu" class="partner-logo-holder">
            <img src="/images/logos/8.png">
          </a>
          <a href="http://www.google.hu" class="partner-logo-holder">
            <img src="/images/logos/9.jpg">
          </a>
          <a href="http://www.google.hu" class="partner-logo-holder">
            <img src="/images/logos/10.jpg">
          </a>
          <a href="http://www.google.hu" class="partner-logo-holder">
            <img src="/images/logos/11.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
