#background-image{
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("/images/backgrounds/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.property{
  margin: 0 17vw;
  padding: 5vh 0;
  border-bottom: 1px solid rgba(33, 37, 41, .2);
}
.property:nth-last-child(1){
  border: 0;
}
.property .property-title{
  font-size: 1.4em;
  color: #021f4f;
  margin-bottom: 2.7vh;
  text-transform: uppercase;
}
.property .property-name, .property .property-value{
  font-size: 1.1em;
  margin-bottom: 5px;
}
.property .property-name{
  font-weight: bolder;
  margin-right: 15px;
  width: 9em;
}
.map{
  height: 50vh;
  width: 100%;
}
