<% if(view.current.mainFooter) { %><%- include("../footers/main.ejs") %><% } %><% view.current.files.footers.forEach(function(obj) { %><%- include("../footers/" + obj + ".ejs")%><% }) %>
    </body>
</html>