<main>
  <div class="frontend-section" style="min-height: calc(100vh - 70px);">
    <div class="section-header color-blue">Kosár</div>
    <div class="products-container">
      <table class="products table" id="products">
        <thead>
          <tr>
            <td class="image-cell"></td>
            <td><span>Név</span></td>
            <td><span>Mennyiség</span></td>
            <td><span>Egység ár</span></td>
            <td><span>Ár</span></td>
            <td></td>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end align-items-center summary">
      <span>Összesen: </span>
      <span id="sum">0 Ft</span>
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" class="button button-red" id="next" style="width: 280px;">Tovább</button>
    </div>
  </div>
</main>
