<header class="w-100">
  <div class="navigation-container d-flex justify-content-center">
    <div class="navigation d-flex align-items-center justify-content-center">
      <div class="toggle-button" id="navbarToggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
      <div class="nav-holder">
        <nav class="nav-item">
          <a href="/watches">ÓRÁK</a>
        </nav>
      </div>
      <div class="nav-holder">
        <nav class="nav-item">
          <a href="/jewellery">ÉKSZEREK</a>
        </nav>
      </div>
      <div class="logo-holder">
        <a href="/"><img class="logo-image" alt="miracolo_logo" src="/images/logo.png"></a>
      </div>
      <div class="nav-holder">
        <nav class="nav-item">
          <a href="/about">RÓLUNK</a>
        </nav>
      </div>
      <div class="nav-holder">
        <nav class="nav-item">
          <a href="/contact">KAPCSOLAT</a>
        </nav>
      </div>
    </div>
    <div class="nav-cart" style="font-weight: lighter">
      <a href="/shop"><i class="fa fa-shopping-cart" style="margin-right: 10px;"></i><span id="cartQuantity"></span></a>
    </div>
  </div>
</header>
<div class="navbar-phone">
  <div class="navigation-title">
    Navigáció
  </div>
  <div class="navigation">
    <nav class="nav-item-phone">
      <a href="/">Főoldal</a>
    </nav>
    <nav class="nav-item-phone">
      <a href="/watches">Órák</a>
    </nav>
    <nav class="nav-item-phone">
      <a href="/jewellery">Ékszerek</a>
    </nav>
    <nav class="nav-item-phone">
      <a href="/about">Rólunk</a>
    </nav>
    <nav class="nav-item-phone">
      <a href="/contact">Kapcsolat</a>
    </nav>
  </div>
  <div class="navigation-title">
    Órák
  </div>
  <div class="navigation">
    <nav class="nav-item-phone"><a href="/watches?brand=longines">Longines</a></nav>
    <nav class="nav-item-phone"><a href="/watches?brand=tagheuer">Tag Heuer</a></nav>
    <nav class="nav-item-phone"><a href="/watches?brand=certina">Certina</a></nav>
    <nav class="nav-item-phone"><a href="/watches?brand=meistersinger">MesiterSinger</a></nav>
  </div>
  <div class="navigation-title">
    Ékszerek
  </div>
  <div class="navigation">
    <nav class="nav-item-phone"><a href="/jewellery?brand=tommyhilfiger">Tommy Hilfiger</a></nav>
    <nav class="nav-item-phone"><a href="/jewellery?brand=nomination">Nomination</a></nav>
    <nav class="nav-item-phone"><a href="/jewellery?brand=comete">Comete</a></nav>
    <nav class="nav-item-phone"><a href="/jewellery?brand=police">Police</a></nav>
  </div>
</div>

<div class="header-fade" id="headerFade"></div>
<div id="background-image"></div>
<div class="" id="loading">
  <div class="loading-box">
    <div class="loading-outer">
      <span class="s1"></span>
      <span class="s2"></span>
      <span class="s3"></span>
      LOADING
    </div>
  </div>
</div>
<script>
var notificationID = 0
var notificationHeight = 56
function exceptionHandler(exception, redirect = false){
  console.log(exception)
  let currentID = 'notif' + (notificationID++)
  $('main').append(`
    <div class="side-notification side-notification-error" onclick=slideNotificationBack($(this)) id="${currentID}">
      <span class="notificationMessage"></span>
    </div>`)
  if(exception.result.type == 'success'){
    $('#'+currentID+' .notificationMessage').html(exception.error.message || 'Hiba történt')
  }
  else {
    $('#'+currentID+' .notificationMessage').html(exception.result.msg)
  }
  let currentHeight = $('#' +currentID).outerHeight()
  $('#' +currentID).css('top', notificationHeight)
  notificationHeight += currentHeight + 10
  $('#' + currentID).animate({right: '0px'}, 'swing', () => {
    setTimeout(() => {
      slideNotificationBack($('#' + currentID))
      if(exception.result.func == '@graphedCheckLogin-CHECK')
        location.reload()
      if(redirect)
        window.location = redirect
    }, 3500)
  })
}
function slideNotificationBack(jQueryElement){
  jQueryElement.animate({right: '-'+jQueryElement.outerWidth() + 30+'px'}, 'swing', () => {
    notificationHeight -= jQueryElement.outerHeight() + 10
    jQueryElement.remove()
  })
}
function successHandler(result, reload = false){
  let currentID = 'notif' + (notificationID++)
  if( (typeof result === "object") && (result !== null) ){
    $('main').append(`
      <div class="side-notification side-notification-success" onclick=slideNotificationBack($(this)) id="${currentID}">
        <span class="notificationMessage"></span>
        <span class="notificationFunc">func: </span>
        <span class="notificationType">error: </span>
      </div>`)
    $('#'+currentID+' .notificationMessage').html(result.msg)
    $('#'+currentID+' .notificationFunc').append(result.func)
    $('#'+currentID+' .notificationType').append(result.type)
  }
  else{
    $('main').append(`
      <div class="side-notification side-notification-success" onclick=slideNotificationBack($(this)) id="${currentID}">
        <span class="notificationMessage"></span>
      </div>`)
      $('#'+currentID+' .notificationMessage').html(result)
  }
  let currentHeight = $('#' +currentID).outerHeight()
  $('#' +currentID).css('top', notificationHeight)
  notificationHeight += currentHeight + 10
  $('#' + currentID).animate({right: '0px'}, 'swing', () => {
    setTimeout(() => {
      slideNotificationBack($('#' + currentID))
      if(reload)
        location.reload()
    }, 1500)
  })
}

function myConfirm(body, title = false, mode="default"){
  switch (mode) {
    case "success":
      $('#alertNo').css('display', 'none')
      $('#alertYes').css('background', '#33FF66').html('Rendben')
      break;
    default:
      $('#alertNo').css('display', 'block')
      $('#alertYes').css('background', '#1166FF').html('Igen')

  }
  $('#alertLabel').html(title ? title : 'Megerősítés')
  $('#alertBody').html(body)
  $('#alert').modal()
  return new Promise((resolve, reject) => {
    $('#alert .btn').click(function(e){
      resolve($(this).attr('id') == 'alertYes')
    })
  })
}
</script>
<style media="screen">
  .side-notification{
    z-index: 9000;
    display: flex;
    margin: .8rem;
    right: -400px;
    position: fixed;
    width: calc(13vw + 200px);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,.25);
    height: fit-content;
    border-radius: .25rem;
    background-color: rgba(255, 255, 255, .97);
    border: 2px black solid;
    flex-direction: column;
    padding: calc(4vh - 5px);
    box-sizing: content-box;
  }
  .side-notification > span{
    font-size: 2.8vh;
  }
  .side-notification > span:nth-last-child(1){
    margin: 0!important;
  }
  .side-notification > .notificationMessage{
    font-size: 3.8vh;
    margin-bottom: calc(2.2vh - 10px);
  }
  .side-notification-success{
    border-color: rgba(70, 217, 99, 1);
  }
  .side-notification-success > .notificationMessage{
    color: rgba(70, 217, 99, 1);
  }
  .side-notification-error{
    border-color: rgba(217, 89, 69, 1);
  }
  .side-notification-error > .notificationMessage{
    color: rgba(217, 89, 69, 1);
  }
  .loading-box{
	opacity: 0;
	position: fixed;
    width: 0;
    height: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

	background-color: rgba(255, 255, 255, .6);
  transition: opacity ease-in-out .3s;
}
.loading .loading-box{
	opacity: 1;
	width: 100vw;
  height: 100vh;
  z-index: 9;
}
.loading-outer {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 5rem;
	width: 5rem;
	border: 1px solid #ddd;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	line-height: 5rem;
	text-align: center;
	Color: #555;
	animation: lp 2s infinite;
	font-size: .5rem;
	font-family: sans-serif;
	font-weight: bold;
	}
	.loading-outer span {
	height: 5rem;
	width: 5rem;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	display: block;
	}
	.s1 {
	animation: rotate 3s infinite ease-in-out;
	}
	.s2 {
	animation: rotate 3s infinite ease-in;
	}
	.s3 {
	animation: rotate 3s infinite ease-out;
	}
	.loading-outer span:after {
	display: block;
	height:5px;
	width: 5px;
	position: absolute;
	top: -3px;
	left: 50%;
	transform: translateX (-50%);
	background-color: #555;
	border-radius: 50%;
	Content: " ";
	}
	@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
	}
	@keyframes lp {
	0% {letter-spacing: 1px;}
	50% {letter-spacing: 2px;}
	100% {letter-spacing: 1px;}
	}
</style>

<div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alertLabel"></h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" id="alertBody"></div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal" id="alertNo">Mégse</button>
        <button class="btn btn-primary" type="button" data-dismiss="modal" id="alertYes">Igen</button>
      </div>
    </div>
  </div>
</div>
