<footer class="w-100">
  <div class="footer-nav row justify-content-around">
    <div class="col">
      <div class="footer-col-header">
        Navigáció
      </div>
      <div class="footer-col-body">
        <a href="/index">Főoldal</a>
        <a href="/watches">Órák</a>
        <a href="/jewellery">Ékszerek</a>
        <a href="/about">Rólunk</a>
        <a href="/contact">Kapcsolat</a>
      </div>
    </div>
    <div class="col">
      <div class="footer-col-header">
        Kiemelt órák
      </div>
      <div class="footer-col-body">
        <a href="/watches?brand=longines">Longines</a>
        <a href="/watches?brand=tagheuer">Tag Heuer</a>
        <a href="/watches?brand=certina">Certina</a>
        <a href="/watches?brand=meistersinger">MesiterSinger</a>
      </div>
    </div>
    <div class="col">
        <div class="footer-col-header">
            Kiemelt ékszerek
        </div>
      <div class="footer-col-body">
        <a href="/jewellery?brand=tommyhilfiger">Tommy Hilfiger</a>
        <a href="/jewellery?brand=nomination">Nomination</a>
        <a href="/jewellery?brand=comete">Comete</a>
        <a href="/jewellery?brand=police">Police</a>
      </div>
      <div class="footer-col-body">
      </div>
    </div>
    <div class="col">
      <div class="footer-col-header">
        Csatornák
      </div>
      <div class="footer-col-body">
        <a href="http://www.miracolo.hu">Facebok</a>
        <a href="http://www.miracolo.hu">Instagram</a>
        <a href="http://www.miracolo.hu">Pinterest</a>
        <a href="http://www.miracolo.hu">Youtube</a>
      </div>
    </div>
  </div>
  <div class="row w-100 bg-gray footer d-flex justify-content-between">
    <div class="col-md-7 col-sm-12 footer-element">Copyright © miracolo | Minden jog fenntartva | All rights reserved</div>
    <div class="col-md-5 col-sm-12 footer-element"><a href="/files/adatvedelem.pdf">Adatvédelmi nyilatkozat</a> | <a href="/files/aszf.pdf">ÁSZF</a></div>
  </div>
</footer>
